* {
  --text: #ffffff;
  --background: #0d0a1c;
  --primary: #332971;
  --secondary: #46399c;
  --accent: #161136;
}
body {
 color: var(--text);
 background-color: var(--background) !important;
}
header {
    background-color: var(--accent);
    position: fixed;
    width: 100%;
    z-index: 7;
}
.btn {
    border-color: var(--secondary);
    border: solid 1px;
    color: var(--secondary);
}
.btn:hover {
    background-color: var(--primary);
    border-color: var(--primary);
}
main > .container, main{
  padding-bottom: 5rem;
  padding-top: 5rem;
}
.card {
    background-color: var(--background);
}
.card:hover {
    background-color: var(--accent);
    filter: brightness(130%);
}
.dropdown-menu {
    background-color: var(--accent);
}
.dropdown-item{
    color: var(--text);
}
.dropdown-item:hover {
    background-color: var(--secondary);
}
.list-group > .active {
    background-color: var(--accent) !important;
    border: none;
}
.map {
    width: 50rem;
    height: auto;
}