
{% extends "base.html" %}

    {% block content %}
        <main>

            <div class="container">
                <img src="/static/img/сидорович.png" class="map pt-3">
            </div>
            <p class="mx-5">
                Пробираются, значит, по улицам Припяти двое сталкеров.
Один — ОПЫТНЫЙ, другой — новичок.
Ну, новичок постоянно сверяется с картой… Бывалый — только ухмыляется.
Тут на одном из перекрестков бывалый как ХЛОПНЕТ себя по лбу.
Вырвал у новичка карту:
— Точно!.. Ану давай, салага. ВОН к тому дому проберемся (прикрикнул).
Пробрались.
Бывалый:
— Теперь давай в этот парадняк. ЗАШЛИ. Поднялись по лестнице.
Бывалый говорит:
— СТОП! Ломай эту дверь (со знанием дела).
Новичек с раз-бегу выносит дверь.
Бывалый:
— ДАВАЙ в кухню! ЛОМАЙ вытяжку.
Новичек, значится, пытается отодрать решетку от стены.
Пыхтит так и спрашивает, с уважением:
— Слышь, а что хоть за артефакт такой. Что не смог САМ унести (шепотом и удивлённо)?
А бывалый ему:
— Какой НАХРЕН артефакт (орет)?!.. Я до аварии в ЭТОЙ квартире жил… А в вентиляции — водку от жены прятал! ДАВАЙ ломай быстрее!
            </p>
        </main>

    {% endblock %}